%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  Newest first
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  %li
    = link_to t('newest_first'), newest_first_books_path
  %li
    = link_to t('popular_first'), popular_first_books_path
  %li
    = link_to t('price_descending'), price_descending_books_path
  %li
    = link_to t('price_ascending'), price_ascending_books_path
  %li
    = link_to t('title_descending'), title_descending_books_path
  %li
    = link_to t('title_ascending'), title_ascending_books_path
