%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render 'shared/filters'
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to books_path, class: 'filter-link' do
          = t('button.all')
          %span.badge.general-badge= @book_count
      = render 'shared/categories'
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      %li.mr-35
        = link_to books_path, class: 'filter-link' do
          = t('button.all')
          %span.badge.general-badge= @book_count
      = render 'shared/categories'
    %p.lead.small.mb-10 Sort by
    .dropdown
      = render 'shared/filters'
  .mb-120
  - @books.each_slice(4) do |book|
    .row
    - book.each do |book|
      .col-xs-6.col-sm-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            = image_tag img_of(book) , alt: 'design-book', class: 'img-shadow general-thumbnail-img'
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: book_path(:id)}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .general-thumb-info
          %p.title=book.title
          %p.font-16.in-gold-500=book.price
          %span.divider-sm
          %p.lead.small=authors_name_select(book)
    = render 'shared/view_more'
    %br
