%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render 'shared/filters'
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to books_path, class: 'filter-link' do
          = t('button.all')
          %span.badge.general-badge= @book_count
      = render 'shared/categories'
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      %li.mr-35
        = link_to books_path, class: 'filter-link' do
          = t('button.all')
          %span.badge.general-badge= @book_count
      = render 'shared/categories'
    %p.lead.small.mb-10 Sort by
    .dropdown
      = render 'shared/filters'
  .mb-120
  = render 'shared/book'
  = render 'shared/view_more'
  %br
